header{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 15%;
    z-index: 1000;
    font-family: 'Lato', sans-serif;
}

.pre{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding-left: 30px;
    height: 50px;
}

.pnew{
    position: relative;
    display: flex;
    gap: 85px;
    font-size: 2rem;
    padding-right: 70px;

}

.pnew a{
    text-shadow: 2px 2px 2px #000;
    transition: all .3s;
}

.pnew a:hover{
    padding: 3px 3px;
    box-sizing: border-box;
    border-bottom: 3px solid #00CBBF;
    border-radius: 5px;
    color: white;
}