#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills{
    padding-top: 85px;
    font-size: 2rem;
   
    color: white;
}

i{
    font-size: 8rem;
    color: white;
}

#sk{
    width: 90vw;
}

#js, #java, #css, #html{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 10px;
}

.language{
    font-size: 1.5rem;
    color: white;
    
}

.lab{
    font-size: 2rem;
   
    color: white;
}

#cards{
    width: 70vw;
    display: flex;
    
}